NODE_ENV=development
PORT=8080
LOG_LEVEL=debug
BACKEND_URL=http://localhost:8080
DATABASE_URL=postgres://postgres:password@localhost:5432/pharmacy
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=pharmacy
JWT_SECRET=secret
JWT_EXPIRES_IN=1d
SMTP_FROM=nahidahmed9933@gmail.com
SMTP_USER=nahidahmed9933@gmail.com
SMTP_PASS=YOUR_SMTP_PASSWORD
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
